[submodule "src/tools/master-password"]
	path = src/tools/master-password
	url = git@github.com:aironou/master-password.git
[submodule "src/blog"]
	path = src/blog
	url = git@github.com:aironou/blog.git
